global:
  namespace: spring-6-icecold-micro-service

image:
  repository: confluentinc/cp-kafka
  tag: "7.9.4"
  pullPolicy: IfNotPresent

bitnamiKafkaImage:
  repository: bitnamilegacy/kafka
  tag: "3.9.0"
  pullPolicy: IfNotPresent

busyboxImage:
  repository: busybox
  tag: "1.37.0"
  pullPolicy: IfNotPresent

kafka:
  type: NodePort

  port: 9092
  targetPort: 9092
  nodePort: 30092

  clientPort: 29092
  controllerPort: 9093

  listenersString: "PLAINTEXT://:9092,CONTROLLER://:9093,PLAINTEXT_HOST://0.0.0.0:29092"
  securityProtocolMap: "PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT"
  advertisedListenersString: "PLAINTEXT://spring-6-icecold-micro-service-kafka.spring-6-icecold-micro-service.svc.cluster.local:9092,PLAINTEXT_HOST://spring-6-icecold-micro-service-kafka.spring-6-icecold-micro-service.svc.cluster.local:29092"

  serviceFQDN: "spring-6-icecold-micro-service-kafka.spring-6-icecold-micro-service.svc.cluster.local"